In [11]:
from keras.datasets import boston_housing
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
(train_data, train_labels), (test_data, test_labels) = boston_housing.load_data()
data = pd.DataFrame(train_data)
data.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>404.000000</td>
      <td>404.000000</td>
      <td>404.000000</td>
      <td>404.000000</td>
      <td>404.000000</td>
      <td>404.000000</td>
      <td>404.000000</td>
      <td>404.000000</td>
      <td>404.000000</td>
      <td>404.000000</td>
      <td>404.000000</td>
      <td>404.000000</td>
      <td>404.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>3.745111</td>
      <td>11.480198</td>
      <td>11.104431</td>
      <td>0.061881</td>
      <td>0.557356</td>
      <td>6.267082</td>
      <td>69.010644</td>
      <td>3.740271</td>
      <td>9.440594</td>
      <td>405.898515</td>
      <td>18.475990</td>
      <td>354.783168</td>
      <td>12.740817</td>
    </tr>
    <tr>
      <th>std</th>
      <td>9.240734</td>
      <td>23.767711</td>
      <td>6.811308</td>
      <td>0.241238</td>
      <td>0.117293</td>
      <td>0.709788</td>
      <td>27.940665</td>
      <td>2.030215</td>
      <td>8.698360</td>
      <td>166.374543</td>
      <td>2.200382</td>
      <td>94.111148</td>
      <td>7.254545</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.006320</td>
      <td>0.000000</td>
      <td>0.460000</td>
      <td>0.000000</td>
      <td>0.385000</td>
      <td>3.561000</td>
      <td>2.900000</td>
      <td>1.129600</td>
      <td>1.000000</td>
      <td>188.000000</td>
      <td>12.600000</td>
      <td>0.320000</td>
      <td>1.730000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>0.081437</td>
      <td>0.000000</td>
      <td>5.130000</td>
      <td>0.000000</td>
      <td>0.453000</td>
      <td>5.874750</td>
      <td>45.475000</td>
      <td>2.077100</td>
      <td>4.000000</td>
      <td>279.000000</td>
      <td>17.225000</td>
      <td>374.672500</td>
      <td>6.890000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.268880</td>
      <td>0.000000</td>
      <td>9.690000</td>
      <td>0.000000</td>
      <td>0.538000</td>
      <td>6.198500</td>
      <td>78.500000</td>
      <td>3.142300</td>
      <td>5.000000</td>
      <td>330.000000</td>
      <td>19.100000</td>
      <td>391.250000</td>
      <td>11.395000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>3.674808</td>
      <td>12.500000</td>
      <td>18.100000</td>
      <td>0.000000</td>
      <td>0.631000</td>
      <td>6.609000</td>
      <td>94.100000</td>
      <td>5.118000</td>
      <td>24.000000</td>
      <td>666.000000</td>
      <td>20.200000</td>
      <td>396.157500</td>
      <td>17.092500</td>
    </tr>
    <tr>
      <th>max</th>
      <td>88.976200</td>
      <td>100.000000</td>
      <td>27.740000</td>
      <td>1.000000</td>
      <td>0.871000</td>
      <td>8.725000</td>
      <td>100.000000</td>
      <td>10.710300</td>
      <td>24.000000</td>
      <td>711.000000</td>
      <td>22.000000</td>
      <td>396.900000</td>
      <td>37.970000</td>
    </tr>
  </tbody>
</table>
</div>